.btn {
    width: 100%;
    padding: 10px 20px;
    border: 0;
    border-radius: 5px;
    background-color: #a8a7a7;
    font-size: 16px;
    cursor: pointer;
    
    &:hover {
        opacity: 0.9;
    }

    &:disabled {
        background-color: #b5b5b5;
        cursor: not-allowed;
    }
}

.btn__dark {
    background-color: #f1f1f1;


    &:disabled {
        background-color: gray;
        cursor: not-allowed;
    }
}

.btn__pink {
    background-color: #de8dd7;
    
    &:disabled {
        background-color: #e39bdd;
        cursor: not-allowed;
    }
}
